{% extends template + "base.html" %}
{% block content %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.js"></script>

	<table class="table-responsive table-hover" data-pagination="true" data-height="600" data-toggle="table" data-page-size="25" data-page-list="[10, 25, 100, all]" id="log-table">
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Category</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% set i = 0 %}
			{% for event in logs: %}
				{% set i = i+1 %}
				<tr data-index="{{i}}">
					<td>{{ event.date }}</td>
					<td>{{ event.category }}</td>
					<td>{{ event.name }}</td>
					<td>{{ event.message }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{# <script src="{{ url_for('static', filename='bootstrap-table.js') }}"></script> #}

{% endblock %}