h1 {
	font-size: 100px;
	font-style: italic;
}
body {
	padding-top: 70px;
	font-size: 14px;
}

.center-pad {
	max-width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.ranks {
	width: 30%;
	float: left;
}

.rank-box {
	background: #aaaaaa;
	padding: 10px;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	max-width: 300px;
	margin-bottom: 10px;
}

.rank-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.information {
	width: 69%;
	float: right;
	background: #aaaaaa;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}
.guild-totals {
	padding: 10px;
}

.guild-totals table td{
	padding: 5px;
	margin: 5px;
}

.open-close {
	float:right;
}
.irc {
	position: fixed;
	right: 100px;
	bottom: 0px;
	width: 30%;
	height: auto;
}

.italics {
	font-style: italic;
}

#ircWindow {
	height: 100%;
	width: 100%;
}

.charter-jumbo {
	/*color: #ffffff;*/
}

.charter-header {
	color: #ffcc00;
	font-size: 18px;
	font-weight: bold;
}
.charter-subheader {
	/*color: #ffffff;*/
	font-style: italic;
	display: block;
}
.charter-rank {
	font-weight: bold;
	text-decoration: underline;
	/*color: #ffffff;*/
}
.charter-rank-perk {
	font-style: italic;
}

.charter-subsection-header {
	color: #009900;
	text-decoration: underline;
}

.charter-section-body {
	padding: 10px;
	margin: 2px;
}

.charter-section a {
	display: block;
}
.charter-section a div {
	width: 100%;
}