h1
{
    font-size: 100px;
    font-style: italic;
}

body
{
    font-size: 14px;

    padding-top: 70px;
}

.center-pad
{
    overflow: hidden;

    max-width: 960px;
    margin: 0 auto;
}

.ranks
{
    width: 100%;
}

.ranks a
{
    display: block;
}

.information
{
    float: right;

    width: 69%;

    border: 1px solid #aaa;
    border-radius: 5px;
    background: #aaa;
}
.guild-totals
{
    padding: 10px;
}

.guild-totals table td
{
    margin: 5px;
    padding: 5px;
}

.open-close
{
    float: right;
}
.main
{
    z-index: 0;
}
.irc
{
    position: fixed;
    z-index: 100;
    right: 100px;
    bottom: 0;

    width: 100%;
    max-width: 500px;
    height: auto;
}

.italics
{
    font-style: italic;
}

#ircWindow
{
    width: 100%;
    height: 100%;
}

.charter-jumbo
{
    /*color: #ffffff;*/
}

.charter-header
{
    font-size: 18px;
    font-weight: bold;

    color: #fc0;
}
.charter-subheader
{
    /*color: #ffffff;*/
    font-style: italic;

    display: block;
}
.charter-rank
{
    font-weight: bold;

    text-decoration: underline;
    /*color: #ffffff;*/
}
.charter-rank-perk
{
    font-style: italic;
}

.charter-subsection-header
{
    text-decoration: underline;

    color: #090;
}

.charter-section-body
{
    margin: 2px;
    padding: 10px;
}

.charter-section a
{
    display: block;
}
.charter-section a div
{
    width: 100%;
}

.hide
{
    opacity: 1;
}

.spacer
{
    height: 10px;
}
