{% extends "base.html" %}
{% include 'navbar.html' %}
{% include 'irc.html' %}
{% block content %}
	<div class="container">
		<blockquote>
			<p>"The law is the end product of many years of history... the fruit of human knowledge! Like a gem, polished to a gleam through trials... and errors. It is this fruit we receive, and pass on, and face in our time. And it is always changing, growing. Nurturing it is our task as human beings." -Some guy nobody really cares about
			</p>
		</blockquote>
		
		<br>
		<div class="charter-jumbo">
			<div class="italics">
				Once you have been removed from the League of Gunners for any transgressions against the rules other than lack of attendance, you will be Blacklisted. This is means you will be monitored to make sure you never gain rentry.
			</div>
			<br/>
			Depending on the severity or frequency of transgressions  they can result in warnings, temporary ban from features, demotion, or a complete removal of membership. 
			<br/>
			Please remember that membership in the guild, as well as the website are privileges, not rights, and can be stripped from you just as easily as they are given.
			<hr/>
		</div>
		<div class="charter-section">
			<a href="#charter-rank" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-rank">
				<div class="charter-head">
					<div class="charter-header">Rank/Promotion</div>
					<div class="charter-subheader">"When life gets tough, you must've just leveled up."</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-rank">
				With 5 ranks in total, and only 4 available to the public at large, this section will be review the requirements of promotion, and any feature the rank comes with.
				<br/>
				<div class="charter-rank-section">
					<div class="charter-rank-container">
						<span class="charter-rank">Recruit</span>: A freshly recruited player to the league.
					</div>
					<div class="charter-rank-perk">
						Perks: Access to the Recruit/Member Dormitory, access to post on guild website.
					</div>
				</div>
				<br/>
				<div class="charter-rank-section">
					<div class="charter-rank-container">
						<span class="charter-rank">Members</span>: Guildmates who have shown their interest in the guild, and it's cause, activities  and objectives
					</div>
					<div class="charter-rank-conditions">
						Conditions of promotion:  Remain in the guild 7 days from the date of invite acceptance. (Yeah, it's that easy.)
					</div>
					<div class="charter-rank-perk">
						Perks: Access to the Recruit/Member Dormitory, access to post on guild website, access to withdraw and deposit from Member Storage.
					</div>
				</div>
				<br/>
				<div class="charter-rank-section">
					<div class="charter-rank-container">
						<span class="charter-rank">Veterans</span>: Players with resolve and dedication and wish to match it with a worthy title.
					</div>
					<div class="charter-rank-conditions">
						Conditions of Promotion: Promotion will be based on a test administered by an officer but at the same time requires a 3 week period of membership in the guild, coupled with a full 4* gunslinger set and one 4* gun in order to be eligible for testing. You do <span style="text-weight: bold;">NOT</span> have to take the test with gunner gear equipped. It is a qualification barrier.
					</div>
					<div class="charter-rank-test">
						The test consists of a full mission run of the "Silent Legion" on Elite difficulty with no gear restriction. Sparks of Life are not allowed to be used. All monsters and enemies that spawn normally must be killed, respawning monsters do not count toward this and can be ignored. Players only of the same mission and guild rank can join the party. Players in the party are required to donate all crown loot from the run into the treasury as a show of loyalty, but only upon succeeding in the test. Officer assistance is prohibited.

						Should a player in the party fail and die after using their emergency revive, they must forfeit the mission and return to Haven.

				 		You need the following items, in no particular set, but in pair in order to be eligible for the test and subsequently, the promotion.

						Any of the following sets can be accepted in any combination of the set's pieces.
						<ul class="charter-armor-list">
							<li>Sunset Set</li>
							<li>Deadshot Set</li>
							<li>Shadowsun Set</li>
							<li>Justifier Set</li>
							<li>Nameless Set</li>
							<li>Plated or Sacred Sentinel/Wraith/Keeper Set</li>
							<li>Plated or Sacred Shade/Hex/Ghost Set</li>
							<li>Plated or Sacred Pathfinder/Guerilla/Hazard Set</li>
						</ul>

						Helmets: Kat Eye Cowl, and Perfect Mask of Seerus.
					</div>
					<div class="charter-rank-perks">
						Perks: Access and freedom to withdraw or deposit from the Veteran Storage, access to the Veteran Dormitory, and the luxury, and privilege of being able to withdraw Energy from the Energy Well. Withdrawals are limited to 100 Energy daily. The privilege to interview any potential recruits that may request membership. As a Veteran, please send your interview results to a GM or Officer.
					</div>
				</div>
				<br/>
				<div class="charter-rank-section">
					<div class="charter-rank-container">
						<span class="charter-rank">Officers</span>: Players with will, and fortitude to take on the tasks of assisting in operating the guild, and it's responsibilities of maintenance.
					</div>
					<div class="charter-rank-test">
						Conditions of Promotion: Must request to a officer their promotion, show exemplary maturity, and Veteran Rank.
					</div>
					<div class="charter-rank-perks">
						Perks: Access and freedom to withdraw or deposit from the Member-Officer Storage The ability to recruit/invite players to the guild. The ability to utilize the Officer chat, Design mode, Save Guild Logs, Exempt from paying dues and use of the Trophy Alchemy Machine.
					</div>
				</div>
				<br/>
				<div class="charter-rank-notes">
					<ul class="list-unstyled">
						<li>Should any Recruit-Veteran leave the guild only to come crawling back, for any reason, you will have to start from square one. Meaning you will have to work your way back to your previous rank. If your account on the site was deleted then you must reapply. If you were a Veteran, you will be barred at Recruit rank till an officer sees fit. Just don't leave and this won't happen.</li>
						
						<li>Leaving for Lockdown substitution is an exception to the rule above and an officer should be notified in advance except when there are none online.</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="charter-section">
			<a href="#charter-recruiting" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-recruiting">
				<div class="charter-head">
					<div class="charter-header">Recruitment</div>
					<div class="charter-subheader">"Where do I sign up?"</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-recruiting">
				<ul class="list-unstyled">
					<li>Undergo an official interview by an Officer or Guild Master. Please wait patiently.</li>
					<li>All Players are acceptable for recruitment, we encourage budding young gunners to join.</li>
					<li>Accept the invite if you have passed the interview</li>
					<li>Depending how you answered the questions, and experience in the game, you will be accepted. If the case of a member being recruited, and they own no gunner gear, fellow member, and officers will gladly help. </li>
					<li>If you continually leave, and return to the guild without justified for reliable reasons, you will be barred from recruitment. We don't take kindly to guild hoppers.</li>
				</ul>
			</div>
		</div>
		<div class="charter-section">
			<a href="#charter-activity" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-activity">
				<div class="charter-head">
					<div class="charter-header">Activity</div>
					<div class="charter-subheader">"gtg to school cya"</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-activity">
				<ul class="list-unstyled">
					<li>All players are only allowed to be inactive for a period of three weeks of their last log in (21 days)</li>
					<li>After three weeks of not logging on, the player will be kicked with no prior notice.</li>
					<li>A player may go inactive for three weeks and be immune to removal, but this is only if they inform an officer in advance. They will need to tell the officer in private how long they will be gone. If they are not sure, an estimate should be provided by the player.</li>
				</ul>
				<div class="charter-subsection">
					<div class="charter-subsection-header">Sub Section: Substitution (Part of: Activity)</div>
					<div class="charter-subsection-body">
						<ol>
							<li>Subbing is an exception to the rank loss policy. In order to be safe from losing your rank upon return, you must notify an Officer or Guild Master. The mode of notification does not matter as long it is received PRIOR to your departure. Anything after is null and void.</li>
							<li>If possible, please notify how long you be in that particular guild for. If your stay exceeds at least a week without an estimate, or your stay drastically (7 days) exceeds your estimate, you will be barred from re-invitation. </li>
							<li>Please keep estimates reasonable.  If the player decides to stay in the guild they sub for, they should notify any officers.</li>
							<li>Please be respectful to all you encounter in the guild you visit. You represent our guild and everything we stand for, and your behavior will reflect our image whether it's in a positive light or a negative one. </li>
							<li>Should a player create controversy on our behalf with malicious intent, they will be barred from re-invitation.</li>
							<li>League of Gunners and its members are responsible for any actions made, positive and negative, in the presence of other guilds.</li>
							<li>Any player who accepts an invite as a partisan player from another guild, automatically accepts the conditions of our guild charter. Failure to comply with the most basic of rules will result in immediate removal, blacklisting, followed by a raspberry blown at them. </li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="charter-section">
			<a href="#charter-chat" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-chat">
				<div class="charter-head">
					<div class="charter-header">Guild Chat</div>
					<div class="charter-subheader">"I remember one time at band camp, we had a trombone fight."</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-chat">
				Standard mannerisms should still apply on the internet, be respectful! But for those who just don't get it, here's a recap. Alot of the following can be avoided by simply whispering. If done in excess after a warning, there will be punishment. The context of which certain words are used will decide whether it's appropriate or not.<br>
					<ul>
						<li>Avoid swearing in the guild chat. Swears are permitted sparingly, but if used to slander, insult, or flame, will result warning, then consequence.</li>
						<li>Do not insult other members regarding any form of personal background, or ability.(If you don't have anything nice to say, don't say anything at all!)</li>
						<li>Do not bring up vulgar, or promiscuous/suggestive topics.</li>
						<li>Topic of sexual sorts are not tolerated, neither are jokes.</li>
						<li>Please use politically correct terminology (Example: White People= Caucasians)</li>
						<li>Homophobic, bigoted, or racist remarks are not tolerated, even if just simply brought up or mentioned.</li>
						<li>Discussing topics of personal problems is unnecessary. The guild chat is not a diary.</li>
						<li>Avoid disrespecting religious beliefs, and their figures.</li>
						<li>Flaunting religious belief, or preaching of any kind is not welcome.</li>
						<li>Topics of  Drugs and Alcohol usage are not welcome or tolerated.</li>
						<li>Blatant flirting, or intimate displays of affection should be kept private, not public. </li>
						<li>If anyone is being disrespected, please contact an Officer.</li>
						<li>Officers are always moderating the chat, think before you say.</li>
						<li>The MOTD should only be changed by officers only.</li>
						<li>If we can't hear it, you can say it. At the same time, please remember you carry our name and your actions reflect our reputation.</li>
						<li>Interrupting an officer mid interview is unacceptable. This can be caused by simply commenting, to unnecessary questions.</li>
					</ul>

				<div class="charter-subsection">
					<div class="charter-subsection-header">Sub Section: Requests (Part of: Guild Chat)</div>
					<div class="charter-subsection-body">
						<ol>
							<li>Begging for free items, crowns, or crystal energy is not tolerated.</li>
							<li>Loans are capable of being dispensed, but only by players who are willing.</li>
							<li>You are not obligated to loan, or to be given loans.</li>
							<li>If you need help with certain missions, do not hassle people in the guild who are afk or pre-occupied.</li>
							<li>If someone has offered help with missions, wait patiently for them, and make sure you have enough time to complete the mission after waiting.</li>
						</ol>
					</div>
				</div>
				<div class="charter-subsection">
					<div class="charter-subsection-header">Sub Section: Guild Site (Part of: Guild Chat)</div>
					<div class="charter-subsection-body">
						Many of the rules stated in the chat section apply, but there are more through rules in the site. 
						<ul>
							<li>With each rule, guildmasters can exercise their authority at any time, with no warning whatsoever. This means removing content, or a player's account all together.</li>
							<li>Depending on the thread, or discussion, there is much more leeway in what can posted and discussed on the site in compared to the chat.</li>
							<li>Due to the ability to post/display images, lewd, sexual, or suggestive photos are not allowed.</li>
							<li>Racist propaganda, spam, or any of kind are not tolerated, and will be removed as soon as it is seen.</li>
							<li>Use of the site a privilege, and can be revoked at anytime as the staff sees fit. </li>
							<li>While the site is used for social networking outside the game, don't use the site and never play the game itself. Players will have their membership removed.</li>
							<li>Do not expect to keep site membership even if you leave, or are removed.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="charter-section">
			<a href="#charter-guild" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-guild">
				<div class="charter-head">
					<div class="charter-header">Guild Hall</div>
					<div class="charter-subheader">"That's a nicccccce hall you got there..."</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-guild">
				All guild mates are requested to contribute to the treasury to assist with upkeep fees. All donations are voluntary. The ranges below are just recommended amounts.
				<div class="charter-subsection">
					<div class="charter-subsection-header">(Rank/Promotion subsection)</div>
					<div class="charter-subsection-body">
						Your expected fees increase along with your rank, as you gain more luxuries as a active members. The rate goes as such:
						<ul>
							<li>Recruits: 1,000 crowns per week</li>
							<li>Members: 2,000 crowns per week</li>
							<li>Veterans: 3,500 crowns per week</li>
						</ul>
						(You are by no means forced to pay guild fees, they are simply established criteria for donations based on rank.)
						<ul>
							<li>Payments of more than you're supposed to deposit secure your future payments, depending how much you deposit</li>
							<li>Anything placed in storage is up for grabs by those of equivalent rank, deposit at your own risk.</li>
							<li>Whatever goes into the Treasury, never comes out. Ever.</li>
							<li>The guild hall and all of it's contents (specifically furniture) can only be moved by and Officer or Guild Master unless the item has been purchased by the member.</li>
							<li>Profuse withdrawal of storage's are not acceptable (About 1/2 or more of whatever is inside, or of a certain type of item.)</li>
							<li>Faulty claims to furniture will not be tolerated.</li>
						</ul>
					</div>
				</div>
				<div class="charter-subsection">
					<div class="charter-subsection-header">Sub Section: Renting Rooms (Part of: Guild Hall)</div>
					<div class="charter-subsection-body">
						<ol>
							<li>You must make a 52,000 crown security deposit before you can begin renting. This is a down payment for the furnishings of your choice, plus two weeks worth of rent paid in advance covered in this payment.</li>
							<li>When your security deposit is made, 10k must remain untouched to go towards upkeep as your rent, and the rest may be used to your liking (42k crowns) We advise you use this to invest in a bed, chair, and table. (Chair - 10,980 Crowns, Bed - 20,515 Crowns, Table - 10,980 Crowns.)</li>
							<li>You may rent a room for 5,000 crowns a week. You may also pay your rent several weeks, or even months in advance if you so choose.</li>
							<li>You may name your room within reason. Inappropriate room names will be changed without prior notice and may result in penalty if changed back.</li>
							<li>You are advised to take screenshots of your belongings in the guild logs, specifically your security deposit, when decide to purchase items that belong to you.</li>
							<li>Should you fail to pay rent past it's due date, your belongings will be removed from your room and the room will be reverted to it's solitary state, name and all. The items will still be in your possession, but the room is no longer yours until you decide to pay rent again.</li>
							<li>Should you leave the guild, you forfeit your rights to your belongings to the staff. This is because the game forbids that items items can never be removed from the treasury, including crowns. If you decide to return at any point in time, your items and ownership rights to them will be reinstated to you as long as you provide proof that they belonged to you.</li>
							<li>You are permitted to share a room with FOUR other players. All furniture will remain individualized, and keeping track of ownership is the players sole responsibility. This means the furniture you buy will leasing with other players remains yours even if you stop leasing with them and can do as you please outside of the previously used room. This is negated if you leave the guild. This also means that all decisions are to be decided by all tenants (naming, placement, investment, etc)</li>
						</ol>
					</div>
				</div>
				<div clsas="charter-subsection">
					<div class="charter-subsection-header"><span class="outdated">Sub Section: Energy Well (Part of: Guild Hall)  <span style="font-weight:bold">OUT-OF-DATE</span></span></div>
					<div class="charter-subsection-body">
						<ol>
							<li>Refer to Guild Hall sub-section</li>
							<li>The energy well will only be accessible to Veteran members only.</li>
							<li>Only 100 Energy may be withdrawn daily.</li>
							<li>Movement of the well is only permitted by Officer Staff.</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="charter-section">
			<a href="#charter-uniform" class="btn btn-default" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="charter-uniform">
				<div class="charter-head">
					<div class="charter-header">Guild Uniform</div>
					<div class="charter-subheader">"Protocol dictates action"</div>
				</div>
			</a>
			<div class="charter-section-body collapse" id="charter-uniform">
				<ul class="list-unstyled">
					<li>All members are encouraged to at least attempt to wear gunner gear whenever possible.</li>
					<li>Gunslinger gear should be worn to participate in Guild Lockdown. </li>
					<li>If gunslinger gear is not wished to be worn, a costume of gunner gear is asked at least be worn. This applies in Lockdown, and PvE.</li>
					<li>If gunner gear cannot be found, or crafted, it will happily be provided by an officer or assisted to be provided. Do not expect full fledged handouts.</li>
					<li>Personal Armor crafted/purchased prior to joining do NOT have to be destroyed, dropped, or sold.</li>
					<li>Costumes are able to be worn.</li>
					<li>Full inspection function is preferred, but not required.</li>
					<li>Why? Newsflash: You're in a gunslinger guild. </li>
				</ul>
			</div>
		</div>
		<hr/>
		If you think something should be tweaked, adjusted, or removed completely  please contact me, as I am open to suggestions.

		-TL:DR Purepwn
		source: <a href="http://logunners.shivtr.com/forum_threads/1372618">http://logunners.shivtr.com/forum_threads/1372618</a>
	</div>
{% endblock %}