{% extends "base.html" %}
{% include 'navbar.html' %}
{% include 'irc.html' %}
{% block logs %}
	<table class="table-responsive table-hover" data-pagination="true" data-height="700" data-toggle="table" data-page-size="25" data-page-list="[10, 25, 100, all]">
		<thead>
			<tr>
				<th>Timestamp</th>
				<th>Category</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for i in range(log_len) %}
				{% set event = logs[i] %}
				<tr data-index="{{i}}">
					<td>{{ event.date }}</td>
					<td>{{ event.category }}</td>
					<td>{{ event.name }}</td>
					<td>{{ event.message }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}